@import '~antd/dist/antd.css';
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.site-layout-content {
  min-height: 280px;
  /* height: 80vh; */
  padding: 24px;
  background: #fff;
  
}
.content-wrapper{
  margin: auto;
  max-width: 397px;
}
.search-bar{
  display: flex;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
  color:whitesmoke
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }